<h1 style="text-align: center; margin-top: 20px; margin-bottom: 20px;">Наш адрес</h1>
<div>
  <img style="height:600px;margin-left:17%;" src="../img/map.png" alt="">
</div>
{{!-- footer --}}
<div id="footer">
  <div class="help">
    <div class="help_money p__footer">
      <P>Наш адрес: ул.Ленина, д.66</P>
    </div>
    <div class="help_soul p__footer">
      <P>Время работы: Ежедневно с 09.00 до 21.00</P>
    </div>
  </div>

  <div class="social">
    <div class="img__div"><a href="https://www.instagram.com/?hl=ru"><img class="img_social" src="https://cdn-icons-png.flaticon.com/512/1409/1409946.png" alt=""></a></div>

    <div class="img__div"><a href="#"><img class="img_social" src="https://cdn-icons.flaticon.com/png/512/2504/premium/2504941.png?token=exp=1635516154~hmac=de666988f8912e6e1945880b4c615a45"
          alt=""></a>
    </div>
    
    <div class="img__div"><a href="https://mail.ru/"> <img class="img_social" src="https://cdn-icons-png.flaticon.com/512/1782/1782765.png" alt=""></a></div>
  </div>

  <div class="info">
    <div class="p__footer">
      <p class="phone">Телефон:</p>
    </div>
    <div class="p__footer">
      <p>+7 981-163-90 80</p>
    </div>
    <div class="p__footer">
      <p>+7 999-183-98 88</p>
    </div>
  </div>
</div>
