<body class="regbody">
 <div class="reg">
  <h1 class="h1_reg">Вход</h1>
  <form class="register_form" id="register_form" method="POST" action="/login" autocomplete="off">
   <input name="email" class="input" type="email" id="email"  placeholder="email" />
   <input class="input" type="password" id="userpass" name="password" placeholder="password" />
   <button class="input input_button" type="submit">Войти</button>
  </form>
 </div>
</body>
